	{% load static %}
    <!-- jquery -->
	<script src="{% static 'assets/js/jquery-1.11.3.min.js' %} "></script>
	<!-- bootstrap -->
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %} "></script>
	<!-- count down -->
	<script src="{% static 'assets/js/jquery.countdown.js' %} "></script>
	<!-- isotope -->
	<script src="{% static 'assets/js/jquery.isotope-3.0.6.min.js' %} "></script>
	<!-- waypoints -->
	<script src="{% static 'assets/js/waypoints.js' %} "></script>
	<!-- owl carousel -->
	<script src="{% static 'assets/js/owl.carousel.min.js' %} "></script>
	<!-- magnific popup -->
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %} "></script>
	<!-- mean menu -->
	<script src="{% static 'assets/js/jquery.meanmenu.min.js' %} "></script>
	<!-- sticker js -->
	<script src="{% static 'assets/js/sticker.js' %} "></script>
	<!-- main js -->
	<script src="{% static 'assets/js/main.js' %} "></script>

	<script src="{% static 'app.js' %}">  </script>